h1 {
    text-align: center;
}

.explain {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#canvas {
    float: left;
}

#preview {
    float: left;
}

#result {
    float: left;  
    padding-left: 250px;
}

body {
    background-color: rgb(77, 147, 147);
}

#inputBox {
    font-family: 'Tahoma';
    padding-top : 100px;
    margin-left: calc(50vw - 768px/2 - 10px);
}

#title {
    font-family: "Georgia";
    font-size-adjust: 0.80;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

#titleBlock {
    font-family: 'Verdana';
}

#ascii {
    /*margin: 0 auto 10px auto;*/
    width: fit-content;
    

    font-size: 11px;
    /*
    background-color: #000000;
    color: #ffffff;
    */
    
    background-color: #ffffff;
    color: #000000;
    
    padding: 4px 5px;
    --fs: 11px;
}


nav::before {
    content: "";
  
    height: 1px;
  
    width: 300px;
  
    border-bottom: 1px solid black;
  
    display: block;
  
    margin: 10px auto;
}

nav::after {
    content: "";
    height: 1px;
    width: 250px;
    border-top: 1px solid black;
    display: block;
    margin: 10px auto;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    display: block;
    width: fit-content;
    max-width: 100%;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li:not(:last-child)::after {
    display: inline-block;
    color: #000;
    content: '|';
    padding: 0 3px 0 3px;
}

#aboutPage {
    font-family: 'Tahoma';
    padding-top : 100px;
    margin-left: calc(50vw - 768px/2 - 10px - 75px);
}

#middle {
    max-width: 800px;
}

footer:before {
    content : "";
    height: 1px;
    min-height: 85px;
    width: 80%;
    border-bottom: 1px solid black;
    display: block;
    margin: 10px auto;
}

footer {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

#footer1 {
    display: none;
}

